# --- Archivos de claves y secretos (IMPORTANTE) ---
.env
.env.local

# --- Entornos Virtuales (Pesan mucho, nunca se suben) ---
.venv/
venv/
env/

# --- Basura de Python (Archivos compilados) ---
__pycache__/
*.pyc
*.ipynb

# --- Basura de Jupyter Notebooks ---
.ipynb_checkpoints/

# --- Datos (Opcional: si tienes csv gigantes que no caben en github) ---
data/*.db
data/*.csv
*.sqlite
*.bak

# --- Archivos del sistema operativo y VS Code ---
.DS_Store
.vscode/

# Results (Already in README)
Results.txt

# Logs de entrenamiento de CatBoost
catboost_info/

# Model
*.joblib
*.pkl

#Reports
Reports/